.wrapperList {
  display: flex;
  justify-content: center;
}

.listItem {
  padding: 10px 31px;
}

.listItemWrapper {
  border-bottom: 0.5px solid rgb(213, 210, 210);
  list-style: none;
}

.list {
  padding: 0;
  margin-bottom: 0;
}

.checkBox {
  display: flex;
}

.text {
  font-size: 18px;
}

.textCompleted {
  font-size: 18px;
  text-decoration: line-through;
}
