.block {
  margin-top: 50px;
  width: 460px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(213, 210, 210);
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.31);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.transparentBg {
  background: transparent;
}

.footer {
  padding: 20px 20px 20px 20px;
  border-top: 1px solid rgb(213, 210, 210);
  background: transparent;
}

.wrapperButton {
  display: flex;
  justify-content: space-between;
}
