.block {
  margin-top: 50px;
  width: 460px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(170 164 164);
  box-shadow: 1px 1px 1px rgb(170 164 164);
  border-radius: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.transparentBg {
  background: transparent;
}

.footer {
  padding: 20px 30px;
  border-top: 0.5px solid rgb(213, 210, 210);
  background: transparent;
}
